/* UserForm.css */
body {
    background-color: white;
    margin: 0; 
    padding: 0; 
    font-family: Arial, sans-serif; /
  }
.PageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   
    
  }
  
  .FormContainer {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    
    color: black;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  }
  
  
  @media (max-width: 600px) {
    .FormContainer {
      padding: 20px 10px;
      max-width: 90%;
    }
  }
  
  .InputContainer {
    display: flex;
    flex-direction: column;
    
    position: relative;
    margin-top: 20px;
    
  }
  
  .Input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    
  }
  
  @media (max-width: 600px) {
    .Input {
      font-size: 14px;
      padding: 8px ;
    }
  }
  
  .StyledDatePicker {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .StyledDatePicker::placeholder {
    color: #ccc;
  }
  
  .StyledDatePicker:focus {
    border-color: #4caf50;
  }
  
  @media (max-width: 600px) {
    .StyledDatePicker {
      font-size: 14px;
      padding: 8px;
    }
  }
  .ButtonContainer {
    display: flex;
    justify-content: center; 
    width: 100%;
  }
  .Button {
    padding: 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    width: 50%; /* Reduce width to 50% */
    max-width: 200px;
   
  }
  
  @media (max-width: 600px) {
    .Button {
      font-size: 14px;
      padding: 8px;
      width: 100%;
    }
  }
  
  .ErrorMessage {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  